<header class="header-institucional" role="banner">
  <div class="container header-content">

    <div class="header-text">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" routerLink="/">
        <img
          src="/assets/img/unistmo-logo.png"
          alt="Universidad del Istmo"
          class="logo-institucional"
        />
      </a>

      <h1 class="header-title">Universidad del Istmo</h1>
      <p class="header-subtitle">
        Ciencia, cultura y compromiso con el desarrollo regional
      </p>
    </div>

  </div>
</header>
