<!-- Franja institucional superior -->
<div class="top-bar-institucional"></div>

<nav
  class="navbar navbar-expand-lg navbar-light bg-white border-bottom navbar-sticky"
  [class.scrolled]="isScrolled"
>
  <div class="container">


    <!-- Boton hamburguesa -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarInstitucional"
      aria-controls="navbarInstitucional"
      aria-expanded="false"
      aria-label="Menú de navegación">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--  -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarInstitucional">
      <ul class="navbar-nav align-items-lg-center gap-lg-4">

        <li class="nav-item">
          <a class="btn btn-institucional"
             routerLink="/"
             [class.active-link]="isActive('/')">
            {{ content().NAVBAR.HOME }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/quienesSomos"
             [class.active-link]="isActive('/quienesSomos')">
            {{ content().NAVBAR.ABOUT }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/planEstudios"
             [class.active-link]="isActive('/planEstudios')">
            {{ content().NAVBAR.STUDY_PLAN }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/proyectos"
             [class.active-link]="isActive('/proyectos')">
            {{ content().NAVBAR.PROJECTS }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/docentes"
             [class.active-link]="isActive('/docentes')">
            {{ content().NAVBAR.TEACHERS }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/aspirantes"
             [class.active-link]="isActive('/aspirantes')">
            {{ content().NAVBAR.APPLICANTS }}
          </a>
        </li>

          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/egresados"
              [class.active-link]="isActive('/egresados')"
              data-bs-toggle="collapse"
              data-bs-target="#navbarInstitucional"
            >
              {{ content().NAVBAR.GRADUATES }}
            </a>
          </li>

        <!-- Idiomas-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle language-toggle"
            href="#"
            id="idiomaDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <img class="lang-icon me-2" [src]="getLangIconUrl(service.currentLang())" alt="Idioma">
            {{ content().NAVBAR.LANGUAGE }}
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="idiomaDropdown">
            <li>
              <button
                class="dropdown-item"
                (click)="cambiarIdioma('es')"
                [class.active]="service.currentLang() === 'es'">
                <img class="lang-icon me-2" src="assets/img/mx.png" alt="MX">
                {{ content().NAVBAR.LANG_ES }}
              </button>
            </li>
            <li>
              <button
                class="dropdown-item"
                (click)="cambiarIdioma('en')"
                [class.active]="service.currentLang() === 'en'">
                <img class="lang-icon me-2" src="assets/img/eu.png" alt="US">
                {{ content().NAVBAR.LANG_EN }}
              </button>
            </li>
            <li>
              <button
                class="dropdown-item"
                (click)="cambiarIdioma('zapoteco')"
                [class.active]="service.currentLang() === 'zapoteco'">
                <img class="lang-icon me-2" src="assets/img/lenguas.png" alt="Lenguas">
                {{ content().NAVBAR.LANG_ZAP }}
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
